.embla__buttons {
    position: absolute;
    top: 20px;
    right: 5%;
    color: var(--primary1);
}

.embla__button {
    width: 48px;
    height: 48px;
}


.embla__button--next {
    background-color: var(--primary1);
    color: white;
}

.embla__button--prev {
    background-color:  #e89f7144;
    color: var(--primary1);
}

.embla__container {
    margin-left: calc(var(--slide-spacing) * -1);
  }



@media (min-width: 1260px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing) * 10);
      }
    
}

.embla__dots {
    position: absolute;
    /* top: -90px;
    right: 90px; */
    bottom: 90px;
    right: 42%;
}

.embla__dot {
    background-color: var(--primary2);
    width: 11px;
    height: 11px;
    margin-left: 20px;
}


.embla__dot--selected:after {
    background-color: var(--primary1);
    width: 11px;
    height: 11px;
    border: 1px solid var(--primary1);
    background: radial-gradient(circle, var(--primary1)  40%, rgba(218,0,52,0) 40%);
    padding: 10px;
  }

.embla__slide {
    height: calc(100vh - 262px);
}

@media (min-width: 520px) {
    .embla__dots {
        top: calc(-100vh + 212px);
        right: 50vw;
    }
    .embla__buttons {
        top: -90px;
        right: 80px;
    }
}

@media (max-height: 568px) {
    .main-section {
        min-height: 690px;
    }
    .main-section-decor {
        min-height: 470px;
    }
    .embla__slide {
        min-height: 500px;
    }
}

