@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --gray1: #3A3A3A; */
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(../../public/fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(../../public/fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(../../public/fonts/gilroy/Gilroy-Light.ttf) format('truetype');
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'Gilroy-Light', sans-serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
