@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  --primary1: #E89F71;
  --primary2: #D8D8D8;

}


@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(../../public/fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(../../public/fonts/gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(../../public/fonts/gilroy/Gilroy-Light.ttf) format('truetype');
}

body {
  font-family: 'Gilroy-Light', sans-serif;
}

h4, .font-600 {
  font-family: 'Gilroy-Medium', sans-serif;
}

.font-700 {
  font-family: 'Gilroy-Bold', sans-serif;
}
